<%- include("partials/header") -%>

<form method = "post" class="mtr">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
      <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
    </div >
    <div class="mb-3">
      <label for="exampleInputPassword1"  class="form-label">Sender's Name:</label>
      <input type="text" class="form-control"  name="senderName" id="exampleInputPassword1">
      <label for="exampleInputPassword1"  class="form-label">Sender's Account Number:</label>
      <input type="text" class="form-control" name="senderAccount" id="exampleInputPassword1">
      <label for="exampleInputPassword1"  class="form-label">Reciever's Name:</label>
      <input type="text" class="form-control" name="recieverName" id="exampleInputPassword1">
      <label for="exampleInputPassword1" class="form-label">Reciever's Account Number:</label>
      <input type="text" class="form-control" name="recieverAccount" id="exampleInputPassword1">
      <label for="exampleInputPassword1" class="form-label">Amount:</label>
      <input type="password" class="form-control" name="Tammount" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Confirm Payment</label>
    </div>
    <button type="submit" class="btn btn-primary mtrbutton">Proceed</button>
  </form>





































<%- include("partials/footer") -%>