<%- include("partials/header") -%>



<form action ="/Details" method="post">
    <H3 style="text-align: center;"><u><i>Check your details here:-</i></u></H3>
    <div class="form-group ">
      <label for="exampleInputEmail1"><h5>Enter unique id:-</h5></label>
      <input name="id" type="text" class="form-control onec" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your unique Id here">
      <small id="emailHelp" class="form-text text-muted">We'll never share your Transaction History  with anyone else.</small>
    </div>
   
    <button type="submit" class="btn  one-c btn-primary">Submit</button>
  </form>


  
<%- include("partials/footer") -%>